/* General */
body {
  background-color: #f0f0f0;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 1.8rem;
  font-weight: 400;
  font-family:
    "EB Garamond",
    "Source Sans Pro",
    Arial,
    Helvetica,
    sans-serif;
}

h2 {
  font-size: 2.5rem;
  margin: 1rem 0;
}

h3 {
  font-size: 1.75rem;
  margin-top: 0;
}

p {
  font-size: 1.25rem;
  font-weight: 400;
  white-space: pre-wrap;
}

@media screen and (min-width: 768px) {
  h2 {
    padding: 0 0.75rem;
  }
}

label {
  font-size: 1.2rem;
  font-weight: 600;
  display: block;
  margin-top: 1.25rem;
  margin-bottom: 0.75rem;
}

input,
textarea {
  width: 100%;
  outline: none;
  resize: none;
  padding: 0.25rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}

header {
  background-color: #562b81;
}

ul {
  margin-top: 0;
  padding: 0;
}

li {
  padding-top: 2rem;
  padding-bottom: 1rem;
  border-top: 0.05rem solid #562b81;
}

.journal-photo > img {
  width: 100%;
  border-radius: 0.5rem;
}

.entry-photos > img {
  width: 100%;
  border-radius: 0.5rem;
}

#popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #12121288;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal > p {
  font-weight: 600;
}

.modal {
  position: relative;
  top: -5rem;
  background-color: #f0f0f0;
  width: 25rem;
  padding: 1rem 0.75rem;
  border: 0.1rem solid black;
  border-radius: 0.5rem;
}

/* Utilities */

.white-text {
  color: white;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.text-cen {
  text-align: center;
}

.flex {
  display: flex;
}

/* Buttons and Inputs */
input:focus,
textarea:focus {
  border: 3px solid #562b81;
}

.header-link {
  color: white;
  margin: auto 2rem;
  font-size: 1.5rem;
  font-weight: 400;
  transition: transform 0.25s ease-in-out;
}

.header-link:hover {
  cursor: pointer;
  transform: scale(1.05);
}

#save {
  align-self: flex-end;
  border: none;
  border-radius: 0.25rem;
  color: white;
  background-color: #562b81;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin: 1rem 0;
  font-family:
    "Source Sans Pro",
    Arial,
    Helvetica,
    sans-serif;
  transition: transform 0.25s ease-in-out;
}

#save:hover {
  cursor: pointer;
  transform: scale(1.05);
}

#new-entry {
  border: none;
  border-radius: 0.25rem;
  color: white;
  background-color: #562b81;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  font-weight: 400;
  margin: 1rem 0;
  align-self: flex-end;
  transition: transform 0.25s ease-in-out;
}

#new-entry:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.fa-pencil {
  color: #562b81;
  transition: transform 0.5s ease-in-out;
}

.fa-pencil:hover {
  cursor: pointer;
  transform: rotate(45deg);
}

#delete {
  border: none;
  color: red;
  font-size: 1.2rem;
  margin: 1rem 0;
  padding: 0;
  text-decoration: underline;
  font-family:
    "Source Sans Pro",
    Arial,
    Helvetica,
    sans-serif;
  transition: transform 0.25s ease-in-out;
}

#delete:hover {
  cursor: pointer;
  transform: scale(1.05);
}

#cancel {
  border: none;
  border-radius: 0.25rem;
  color: black;
  background-color: #acacac;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  font-weight: 400;
  margin-top: 1rem;
  align-self: flex-end;
  transition: transform 0.25s ease-in-out;
}

#cancel:hover {
  cursor: pointer;
  transform: scale(1.05);
}

#confirm {
  border: none;
  border-radius: 0.25rem;
  color: white;
  background-color: red;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  font-weight: 400;
  margin-top: 1rem;
  align-self: flex-end;
  transition: transform 0.25s ease-in-out;
}

#confirm:hover {
  cursor: pointer;
  transform: scale(1.05);
}

#search {
  width: 15rem;
  margin-bottom: 1rem;
}
